<html>

<head>
    <title>Selected Text</title>
</head>

<body>
<center>
    <h1 style=color:green>
        Training Data
    </h1>
    <script>

        async function fetchAsync () {
            let response = await fetch("/sender");
            let data = await response.text();
            document.getElementById("ProblemDesc").innerHTML = data;

        }
           function snapSelectionToWord() {
           var sel;

    // Check for existence of window.getSelection() and that it has a
    // modify() method. IE 9 has both selection APIs but no modify() method.
    if (window.getSelection && (sel = window.getSelection()).modify) {
        sel = window.getSelection();
        if (!sel.isCollapsed) {

            // Detect if selection is backwards
            var range = document.createRange();
            range.setStart(sel.anchorNode, sel.anchorOffset);
            range.setEnd(sel.focusNode, sel.focusOffset);
            var backwards = range.collapsed;
            range.detach();

            // modify() works on the focus of the selection
            var endNode = sel.focusNode, endOffset = sel.focusOffset;
            sel.collapse(sel.anchorNode, sel.anchorOffset);

            var direction = [];
            if (backwards) {
                direction = ['backward', 'forward'];
				sel.modify("move", direction[0], "character");
				sel.modify("move", direction[1], "word");
				sel.modify("move", direction[0], "character");

				sel.extend(endNode, endOffset);

				sel.modify("extend", direction[1], "character");
				sel.modify("extend", direction[0], "word");


            } else {
                direction = ['forward', 'backward'];

				sel.modify("move", direction[0], "character");
				sel.modify("move", direction[1], "word");
				sel.extend(endNode, endOffset);

				sel.modify("extend", direction[1], "character");
				sel.modify("extend", direction[0], "word");
				sel.modify("extend", direction[1], "character");
            }


        }
    } else if ( (sel = document.selection) && sel.type != "Control") {
        var textRange = sel.createRange();
        if (textRange.text) {
            textRange.expand("word");
            // Move the end back to not include the word's trailing space(s),
            // if necessary
            while (/\s$/.test(textRange.text)) {
                textRange.moveEnd("character", -1);
            }
            textRange.select();
        }
    }
    return window.getSelection().toString()
}
function assignPart(){
fetch('/receiver', {

    // Specify the method
    method: 'POST',

    // A JSON payload
    body: JSON.stringify({
        "PART": snapSelectionToWord()
    })
}).then(function (response) { // At this point, Flask has printed our JSON
    return response.text();
}).then(function (text) {

    console.log('POST response: ');

    // Should be 'OK' if everything was successful
    console.log(text);
});

    }

    </script>

    <p id="ProblemDesc">{{ProblemDesc}}</p>

    <!--Button to invoke the
     function to get the selected text-->


    <!--Form to show the selected text as output-->
    <form name="resultsForm" action="/receiver" method="post">
        <ul>
            <li>
                <input type="button" value="Assign Part" onmousedown=document.getElementById("part").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="part" name="part">
            </li>
            <li>
                <input type="button" value="Assign Part Desc" onmousedown=document.getElementById("partDesc").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="partDesc" name="partDesc">
            </li>
            <li>
                <input type="button" value="Assign Sub-Part" onmousedown=document.getElementById("subPart").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="subPart" name="subPart">
            </li>
            <li>
                <input type="button" value="Assign Sub-Part Desc" onmousedown=document.getElementById("subPartDesc").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="subPartDesc" name="subPartDesc">
            </li>
            <li>
                <input type="button" value="Assign Adjective" onmousedown=document.getElementById("Adj").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Adj" name="Adj">
            </li>
            <li>
                <input type="button" value="Assign Location" onmousedown=document.getElementById("Loc").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Loc" name="Loc">
            </li>
            <li>
                <input type="button" value="Assign Reason" onmousedown=document.getElementById("Reason").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Reason" name="Reason">
            </li>
            <li>
                <input type="button" value="Assign Resolution" onmousedown=document.getElementById("Resolution").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Resolution" name="Resolution">
            </li>
            <li>
                <input type="button" value="Assign Summary" onmousedown=document.getElementById("Summary").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Summary" name="Summary">
            </li>
            <li>
                <input type="button" value="Assign Inserts" onmousedown=document.getElementById("Inserts").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Inserts" name="Inserts">
            </li>
            <li>
                <input type="button" value="Assign Deletes" onmousedown=document.getElementById("Deletes").setAttribute('value',snapSelectionToWord())>
                <input type="text" id="Deletes" name="Deletes">
            </li>
            <li>
                <label>Notes</label>
               <textarea name="Notes"
                      rows="5"
                      cols="20" name="Notes"></textarea>
            </li>
            <li>
                <input type="submit" value="Submit">
                <input type="button" value="Get New Problem" onmousedown=fetchAsync()>

            </li>

        </ul>

    </form>
</center>
</body>

</html>